<div class="col-2" th:fragment="categories" style="margin-left:2rem">
    <h3 class="title">Categories</h3>
            <ul class="list-group">
                <!--<li class="list-group-item">
                    <a href="@{'/categories/' + ${category.slug}}" class="nav-link">All products</a>
                    <a href="/category/all" class="nav-link">All products</a>
                </li>-->
                <li class="list-group-item" th:each="category: ${ccategories}">
                    <a class="nav-link" th:href="@{'/category/' + ${category.slug}}" th:text="${category.name}"></a>
                </li>
            </ul>
          <div th:if = "${totalPages > 1}">
                <div class = "row col-sm-10">
                    <div class = "col-sm-2">
                        Total Rows: [[${totalItems}]]
                    </div>
                    <div class = "col-sm-1">
                            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <a th:if="${currentPage != i}" th:href="@{'/category/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                                <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
                            </span>
                    </div>
                    <div class = "col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/category/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>

                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/category/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </div>
                </div>
          </div>

            <div th:if="${principal != null}" >
                <span th:replace="/fragments/cart_partial"></span>
            </div>
</div>

